{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
    {% do assets.addCss('theme://css/uikit.almost-flat.min.css', 100) %}
    {% do assets.addCSS('theme://css/components/sticky.almost-flat.min.css')%}
  {% endblock %}

  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs("theme://js/uikit.min.js") %}
    {% do assets.addJs('theme://js/components/sticky.min.js')%}
  {% endblock %}

  {{ assets.js() }}

{% endblock head %}
</head>
<body>
<div class="uk-container uk-container-center uk-margin-top">

  {% block sidebar %}
  {% endblock %}

  {% block header %}

  {% block header_navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}

  {% endblock %}
  <div class="row">
      <div class="column padding-reset">

  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
  {% include 'partials/footer.html.twig' %}
  {% endblock %}
    </div>
  </div>
</div>
</body>
</html>
