{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
  {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
  {% do assets.addCss('https://cdn.jsdelivr.net/g/semantic-ui@2.2.2(components/card.min.css+components/button.min.css+components/container.min.css+components/reveal.min.css+components/grid.min.css+components/header.min.css+components/image.min.css+components/item.min.css+components/list.min.css+components/site.min.css+semantic.min.css+components/divider.min.css+components/form.min.css+components/label.min.css+components/menu.min.css+components/transition.min.css+components/dropdown.min.css+components/input.min.css+components/icon.min.css+components/segment.min.css)') %}

  {% do assets.addInlineCss('.ui.footer.segment {margin: 5em 0em 0em; padding: 5em 0em;}') %}

  {% endblock %}

  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs("https://cdn.jsdelivr.net/g/semantic-ui@2.2.2(semantic.min.js+components/site.min.js+components/form.min.js+components/visibility.min.js+components/transition.min.js+components/dropdown.min.js+components/search.min.js+components/state.min.js)") %}
    {% do assets.addJs("https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js")%}

  {% endblock %}

  {{ assets.js() }}

{% endblock head %}
</head>
<body>
  {% block sidebar %}
  {% endblock %}
  {% block header %}

  <div class="pusher">
    <div class="ui fixed stackable menu">
      <div class="ui container">
        <a href="{{ base_url == '' ? '/' : base_url }}" class="header item">
          <img class="logo" src="{{ url('theme://images/logo.png') }}">
          {{ config.site.title }}
        </a>
        {% block header_extra %}{% endblock %}
        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}
        {% if config.plugins.langswitcher.enabled %}
        {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
      </div>
    </div>
    {% endblock %}

    {% block showcase %}{% endblock %}

    {% block body %}
    <div class="ui main container">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% include 'partials/footer.html.twig' %}
    {% endblock %}
    </div>
  </div>

{#   {% block bottom %}
    {{ assets.js('bottom') }}
    <script>
    $(function () {
      $(document).ready(function() {
        $.slidebars({
          hideControlClasses: true,
          scrollLock: true
        });
      });
    });
    </script>
  {% endblock %} #}

</body>
</html>
